*{
    font-family: sans-serif;
    font-size: 16px;
}

body{
    background-color: blueviolet;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

img.img{
    width: 50px;
    height: 50px;
    float: right; 
}

img.btn-back{
    width: 40px;
    height: 40px;
}

iframe{
    width: 500px;
}